# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# Virtual environments
# ========================
.venv/
venv/
env/
ENV/

# ========================
# Test artifacts
# ========================
.pytest_cache/
allure-results/
allure-report/
htmlcov/
.coverage
coverage.xml

# ========================
# Logs
# ========================
*.log

# ========================
# IDEs / Editors
# ========================
.vscode/
.idea/

# ========================
# OS files
# ========================
.DS_Store

# ========================
# Build / packaging
# ========================
build/
dist/
*.egg-info/

# ========================
# Environment variables
# ========================
.env
.env.*

# ========================
# Docker
# ========================
docker-compose.override.yml

# ========================
# Misc
# ========================
.cache/
.early.coverage